{% extends 'base.html' %}
{% block tittle %}
	{{ titulo }}{{ receta.nombre }}
{% endblock %}
{% block contenedora %}
	<h3>Edita tu receta!</h3>
	<div class="datos">
		<img alt="{{ receta.nombre }}" src="{{ receta.imagen }}" width="250" height="250"/>
	</div>
	<form method="post" action="editarreceta.php" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="nombre">Nombre:</label></td>
                <td><input type="text" name="nombre" id="nombre" value="{{ receta.nombre }}"/></td>
            </tr> 
            <tr>
                <td><label for="tipo">Tipo:</label></td>
                <td>
                	<select name="tipo" id="tipo">
                		<option value="Entrante"
                		{% if receta.tipo == 'Entrante' %}
                			selected
                		{% endif %}
                		>Entrante</option>
                		<option value="Primero"
                		{% if receta.tipo == 'Primero' %}
                			selected
                		{% endif %}
                		>Primero</option>
                		<option value="Segundo"
                		{% if receta.tipo == 'Segundo' %}
                			selected
                		{% endif %}
                		>Segundo</option>
                		<option value="Postre"
                		{% if receta.tipo == 'Postre' %}
                			selected
                		{% endif %}
                		>Postre</option>
                	</select>
                </td>
            </tr>
        	<tr>
                <td><label for="duracion">Duracion:</label></td>
                <td><input type="text" name="duracion" id="duracion" value="{{ receta.duracion }}"/></td>
            </tr>
            <tr>
                <td><label for="imagen">Imagen:</label></td>
                <td>
                	<input type="file" name="imagen" id="imagen"/>
                	<br />
                	<span style="font-size: x-small; margin-left: 3em">Si no se selecciona ninguna permanecerá la imagen original que aparece a la derecha</span>
                </td>
            </tr> 
            <tr>
                <td><label for="ingredientes">Ingredientes:</label></td>
                <td><input type="text" name="ingredientes" id="ingredientes"  value="{{ receta.ingredientes }}"/></td>
            </tr> 
            <tr>
                <td><label for="elaboracion">Elaboracion:</label></td>
                <td><input type="text" name="elaboracion" id="elaboracion" value="{{ receta.elaboracion }}"/></td>
            </tr>
        </table> 
        <input type="hidden" name="id" id="id" value="{{ receta.id }}"/>
        <input type="submit" value="Enviar"/>
    </form>
{% endblock %}