{% extends 'base.html' %}
{% block tittle %}
	{{ titulo }}{{ receta.nombre }}
{% endblock %}
{% block contenedora %}
	<h3>Seguro de eliminar esta receta?</h3>
	<h3>{{ receta.nombre }}</h3>
	<p class="submenuusuario">
		<a href="eliminarfinalreceta.php?receta_id={{ receta.id }}">Si, deseo eliminar esta receta</a>
	</p>
{% endblock %}