{% extends 'base.html' %}
{% block tittle %}
	{{ titulo }}
{% endblock %}
{% block contenedora %}
	<h3>Esta no es su receta</h3>
	<p class="submenuusuario">
		Esta no es tu receta! <br /> <br />
		<a href="perfil.php">Volver al perfil</a>
	</p>
{% endblock %}