{% extends 'base.html' %}
{% block tittle %}
	{{ titulo }}
{% endblock %}
{% block contenedora %}
	<h3>Crea una receta nueva!</h3>
	<form method="post" action="nuevareceta.php" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="nombre">Nombre:</label></td>
                <td><input type="text" name="nombre" id="nombre"/></td>
            </tr> 
            <tr>
                <td><label for="tipo">Tipo:</label></td>
                <td>
                	<select name="tipo" id="tipo">
                		<option value="Entrante">Entrante</option>
                		<option value="Primero">Primero</option>
                		<option value="Segundo">Segundo</option>
                		<option value="Postre">Postre</option>
                	</select>
                </td>
            </tr>
        	<tr>
                <td><label for="duracion">Duracion:</label></td>
                <td><input type="text" name="duracion" id="duracion"/></td>
            </tr>
            <tr>
                <td><label for="imagen">Imagen:</label></td>
                <td><input type="file" name="imagen" id="imagen"/></td>
            </tr> 
            <tr>
                <td><label for="ingredientes">Ingredientes:</label></td>
                <td><input type="text" name="ingredientes" id="ingredientes"/></td>
            </tr> 
            <tr>
                <td><label for="elaboracion">Elaboracion:</label></td>
                <td><input type="text" name="elaboracion" id="elaboracion"/></td>
            </tr>
        </table> 
        <input type="submit" value="Enviar"/>
    </form>
{% endblock %}