{% extends 'base.html' %}
{% block tittle %}
	{{ titulo }}
{% endblock %}
{% block contenedora %}
	{% if receta %}
		<h3>{{ receta.nombre }}</h3>
		<p id="usuarioreceta">
			<a href="listadousuario.php?usuario_id={{ receta.usuario_id }}">{{ receta.usuario }}</a>, Fecha creacion: {{ receta.creacion }} Fecha modificacion: {{ receta.edicion }}
		</p>
		<div class="datos" style="min-height: 350px;">
			<img alt="{{ receta.nombre }}" src="{{ receta.imagen }}" width="250" height="250"/>
			<h4>Datos receta:</h4>
			<ul>
				<li><span>Tipo:</span> {{ receta.tipo }}</li>
				<li><span>Duracion:</span> {{ receta.duracion}} min</li>
				<li><span>Lista de ingredientes:</span> {{ receta.ingredientes }}</li>
				<li><span>Elaboracion:</span> {{ receta.elaboracion }}</li>
			</ul>
		</div>
	{% else %}
		<h3>No existe esa receta</h3>
	{% endif %}
{% endblock %}