{% extends 'base.html' %}
{% block tittle %}
	{{ titulo }}
{% endblock %}
{% block contenedora %}
	<h3>Introduce tus datos y entra!</h3>
	<form method="post" action="login.php">
        <table> 
            <tr>
        	<tr>
                <td><label for="user">Usuario:</label></td>
                <td><input type="text" name="user" id="user"/></td>
            </tr>
            <tr>
                <td><label for="passwd">Contraseña:</label></td>
                <td><input type="password" name="passwd" id="passwd"/></td>
            </tr>
        </table> 
        <input type="submit" value="Login"/>
    </form>
{% endblock %}