{% extends 'base.html' %}
{% block tittle %}
	{{ titulo }} {{ user.username }}
{% endblock %}
{% block contenedora %}
	<h3>Bienvenido {{ user.username }}</h3>
	<div class="datos">		
	<h4>Datos de {{ user.username }}</h4>
		<ul>
			<li><span>Nombre:</span> {{ user.first_name }}</li>
			<li><span>Apellidos:</span> {{ user.last_name }}</li>
			<li><span>E-mail:</span> {{ user.email }}</li>
		</ul>
		<p class="submenuusuario">
			<a href="nuevareceta.php">Nueva Receta</a>
		</p>
		<h4 style="margin-top: .5em">Recetas de usuario</h4>
		<div class="listadorecetas">
			<ul>
				{% if recetas %}
					{% for receta in recetas%}
						<li>
							<a href="detalle.php?receta_id={{ receta.id }}">{{ receta.nombre }}</a>
							<a href="editarreceta.php?receta_id={{ receta.id }}">
								<img src="images/editar.png" alt="Editar Receta" height="20" width="20"/>
							</a> 
							<a href="eliminarreceta.php?receta_id={{ receta.id }}">
								<img src="images/eliminar.png" alt="Eliminar Receta" height="20" width="20"/>
							</a>
						</li>
					{%endfor%}
				{% else %}
						<li>No has subido introducido recetas</li>
				{% endif %}
			</ul>
		</div>
	</div>
{% endblock %}