<!DOCTYPE html>
<html lang="es">
	<head>
		<title>
			{% block tittle %}
	      	{% endblock %}
	    </title>
		<meta charset="utf-8">
	
		<meta name="description" content="Agenda con PHP Tiwg">
		<meta name="author" content="villarejo696">
		
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">		
		<link rel="stylesheet" type="text/css" href="./css/styles.css"/>
	</head>
	<body>
		<header>
			<ul>
				<li><a href="index.php"><span>Inicio</span></a></li>
				<li><a href="listadorecetas.php"><span>Recetas</span></a></li>
				<li class='has-sub'><a href=''><span>Tipos</span></a>
			    	<ul>
			        	<li><a href="listadoentrantes.php"><span>Entrantes</span></a></li>
			        	<li><a href="listadoprimeros.php"><span>Primeros</span></a></li>
			        	<li><a href="listadosegundos.php"><span>Segundos</span></a></li>
			        	<li><a href="listadopostres.php"><span>Postres</span></a></li>
			    	</ul>
			 	</li>
				<li><a href="buscar.php"><span>Buscar</span></a></li>
				<li><a href="perfil.php"><span>Perfil</span></a></li>
			    <li class='last'><a href="logout.php"><span>Salir</span></a></li>
			</ul>
			<h1>Recetario... Rico, Rico</h1>
		</header>
		<div class="contenedora">
			{% block contenedora %}
	     	{% endblock %}
		</div>
		<footer>
			<p>
				&copy; Copyright  by villarejo696
			</p>
		</footer>
	</body>
</html>