{% extends 'base.html' %}
{% block tittle %}
	{{ titulo }}
{% endblock %}
{% block contenedora %}
	<h3>{{ titulo }}</h3>
	<form id="buscar" method="post" action="buscar.php">
        <ul>
        	<li>
        		{% if receta %}
					<input type="text" name="receta" value="{{ receta }}" />
				{% else %}
					<input type="text" name="receta" value="receta" />
				{% endif %}
			</li>
			<!--
				definir tipos: Entrante, Primero, Segundo y Postre
				recorremos los tipos
				if tip in la lista que nos llega ==> checked
			-->
	        {% for plato in platos %}
	        	<li>
	        		<input type="checkbox" name="tipos[]" value="{{ plato }}" 
						{% if plato in tipos %}
							checked
						{% endif %}
					/>
					{{ plato }}
				</li>
			{% endfor %}
        </ul>
        <ul>
        	<li>
        		{% if ingrediente %}
        			<input type="text" name="ingrediente" value="{{ ingrediente }}" />
        		{% else %}
        			<input type="text" name="ingrediente" value="ingrediente" />
        		{% endif %}
        	</li>
        	<li>
        		{% if usuario %}				
        			<input type="text" name="usuario" value="{{ usuario }}" id="buscarusuario" />
        		{% else %}
        			<input type="text" name="usuario" value="usuario" id="buscarusuario" />
        		{% endif %}
        	</li>
        	<li>
        		<input type="submit" value="Buscar" />
        	</li>
        </ul>
    </form>
	<div class="listadorecetas">
		<ul>
			{% if recetas %}
				{% for receta in recetas %}
					<li>
						<a href="">{{ receta.nombre }}</a>
						<br />
						<span>&emsp;&emsp;(<a href="">{{ receta.usuario }}</a>, Fecha creacion: {{ receta.creacion }} Fecha modificacion: {{ receta.edicion }})</span>
					</li>
				{% endfor %}
			{% else %}
				<li>No hay recetas</li>
			{% endif %}
		</ul>
	</div>
{% endblock %}