{% extends 'base.html' %}
{% block tittle %}
	{% if user %}
		{{ titulo }} {{ user.username }}
	{% else %}		
		{{ titulo }}
	{% endif %}
{% endblock %}
{% block contenedora %}
	<h3>
		{% if user %}
			{{ titulo }} {{ user.username }}
		{% else %}		
			{{ titulo }}
		{% endif %}
	</h3>
	<div class="listadorecetas">
		<ul>
			{% if recetas %}
				{% for receta in recetas %}
					<li>
						<a href="detalle.php?receta_id={{ receta.id }}">{{ receta.nombre }}</a><br />
						<span>&emsp;&emsp;(<a href="listadousuario.php?usuario_id={{ receta.usuario_id }}">{{ receta.usuario }}</a>, Fecha creacion: {{ receta.creacion }} Fecha modificacion: {{ receta.edicion }})</span>
					</li>
				{% endfor %}
			{% else %}
				<li>No hay recetas</li>
			{% endif %}
		</ul>
	</div>
{% endblock %}